* {
	font-family: 'Open Sans', sans-serif;
}

p {
	font-family: 'Raleway', sans-serif;
}

.content__subtitle {
	font-weight: 300;
}

.grim__item-inner h3,
span {
	color: #fff;
}

#content-3 h3 {
	color: pink;
}

#content-5 {
	color: #fff;
}

#content-5 p {
	width: 80%;
}
